
  data_augmentation_options {
    random_distort_color {
    }
  }

  data_augmentation_options {
    random_jitter_boxes {
    }
  }

  data_augmentation_options {
    random_black_patches {
    }
  }
  data_augmentation_options {
    random_absolute_pad_image {
    }
  }
  data_augmentation_options {
    random_rotation {
      rg: 10
      fill_mode: 'nearest'
    }
  }

  data_augmentation_options {
    random_scale_crop_and_pad_to_square {
      output_size: 512
      scale_min: 0.10000000149011612
      scale_max: 2.0
    }
  }
